/* shared styles */
body {
  font-family: "Work Sans", sans-serif;
}
/* primary color of the website */
:root {
  --linear: #ff42a5;
  --purple: #8758f1;
  --blue: #4ec5f7;
  --gray: #534c64;
}
.purple {
  color: var(--purple);
}
.blue {
  color: var(--blue);
}
.linear {
  color: var(--linear);
}
.gray {
  color: var(--gray);
}
.description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
}
/* navigation section */
.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.G-color {
  color: var(--linear);
}
.nav-2 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navigation > .nav-2 ul {
  display: flex;
  gap: 20px;
}
.navigation > .nav-2 ul {
  list-style: none;
}

.Follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* banner section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  gap: 50px;
}
.banner-info {
  background-color: #c992b60d;
  border-radius: 10px;
  padding: 50px;
}
.banner-info li {
  list-style: none;
}
.banner-title-1 {
  color: #0b0223;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title-2 {
  color: var(--purple);
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 5px;
}
.banner-info li {
  color: var(--gray);
  line-height: 1.5rem;
}
.button {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.button-1 {
  padding: 21px 40px;
  border: none;
  border-radius: 45px;
  background-color: var(--linear);
  color: white;
}
.button-2 {
  padding: 21px 40px;
  border: none;
  border-radius: 45px;
  background-color: var(--blue);
  color: white;
}
.img-1 {
  width: 100%;
  height: 550px;
}
/* We are gamers style */

.we-are-gamers {
  display: flex;
  gap: 50px;
  background-color: #fdf9f9;
  padding: 30px 60px 30px 120px;
}
.gamers-description {
  text-align: right;
}
.span-1 {
  color: var(--gray);
  font-size: 26px;
  font-weight: 700;
  line-height: 45px;
}
.img-2 {
  width: 600px;
  height: 460px;
}

/* online games section */
.all-videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 60px 30px 120px;
  position: relative;
}
.all-games-items {
  position: relative;
  display: inline-block;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("../images/play\ btn.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  opacity: 0.4;
  transition: opacity 0.1s;
}
.play-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: 1s ease;
}
.games-img {
  width: 242px;
  height: 300px;
}
.online-games-heading {
  text-align: center;
}
.online-game-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  margin-top: 90px;
  margin-bottom: 16px;
}
.game-description {
  font-size: 0.6rem;
}
/* smaller devices */
@media screen and (max-width: 576px) {
  .navigation,
  .navigation > .nav-2 ul,
  .nav-2,
  .we-are-gamers {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
  }
  .Follow {
    margin-bottom: 20px;

    margin-left: 40px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .img-1 {
    margin-top: 10px;
    width: 90%;
    height: auto;
  }
  .banner-info {
    padding: 15px;
  }
  .button-1,
  .button-2 {
    padding: 20px;
    border-radius: 30px;
  }

  /* we are gamers */
  .img-2 {
    width: 100%;
    height: auto;
  }
  .we-are-gamers {
    padding: 0px;
    background-color: white;
  }
  .gamers-description,
  .description {
    text-align: center;
  }
  .span-1 {
    font-size: 1rem;
  }
  /* online games funny videos */
  .all-videos {
    grid-template-columns: 1fr;
    padding: 2.8rem;
    gap: 1.5rem;
  }
  .games-img {
    width: 100%;
    height: auto;
  }
  .online-game-title {
    font-size: 1.6rem;
  }
  .all-videos p {
    font-size: 0.6rem;
  }
}
/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .img-1 {
    height: auto;
  }
  .banner-info {
    margin-top: 30px;
    padding: 30px;
  }
  /* we are gamers */
  .we-are-gamers {
    flex-direction: column-reverse;
  }
  /* online games */
  .all-videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
